<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Your Favorite Dinosaur</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <h1>Your Favorite Dinosaur!</h1>
            <a href="/dinosaurs/new">Add a Dinosaur!</a>

            <% for (idx in dinosaurs) { %>
                <h3>Name: <a href="/dinosaurs/<%= dinosaurs[idx]._id %>"><%= dinosaurs[idx].name %></a> ||
                <a href="/dinosaurs/edit/<%= dinosaurs[idx]._id %>/">Edit <%= dinosaurs[idx].name %></h3>
           <% } %>

        </div>

    </body>
</html>
